<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuarios</title>
    <link rel="stylesheet" href="/CSS/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap"
        rel="stylesheet">
    <!-- form login usuario -->
    <style>
        body main .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh;
        }
		
        .loginform {
            background-color: #000000;
            width: 350px;
            height: 350px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			border: 1px solid #ddd;
        }
		
		.loginuser input::placeholder {
            color: #888;
            font-style: italic;
        }
		
        .custom-form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
		
        .form-ctrl {
            width: 100%;
            margin: 10px 0;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            transition: border-color 0.3s ease;
			font-size: 16px;
            background-color: #000000;
            color: #ffffff;
        }
		
        .form-ctrl:focus {
            border-color: #4285F4;
			border-width: 2px;
            outline: none;
        }
		
        button[type="submit"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #4285F4;
            color: #ffffff;
            font-size: 16px;
            cursor: pointer;
			margin-top:20px;
        }
		
		.loginform-user h3 {
            text-align: center;
            margin-bottom: 20px;
        }
		
        .error-message {
            color: red;
			margin-top:20px;
            display: none;
        }
       .container .default-data{
            color: rgb(188, 187, 187);
        }

    </style>
</head>

<body>
    <header id="inicio">
        <div class="navbar">
            <!-- Imagen del logotipo -->
            <img src="/IMG/logoG4.png" alt="Logotipo">
            <!-- contenedor de envio gratis -->
            <div class="contenedor-envios">
                <p class="envios-gratis">Envios gratis a partir de los $30000</p>
                <img src="/IMG/envio-gratis.png" alt="envio">
            </div>
            <!-- contenedor de barra navegacion-->
            <div class="barra-desplegable">
                <!-- items de navegacion -->
                <a href="/">Inicio</a>
                <!-- item modelos -->
                <a href="#oferta">Nuestros Modelos</a>
                <div class="desplegable">
                    <!-- Boton que se desplega al pasar el mouse -->
                    <button class="desplegableBtn">Registro</button>
                    <div class="desplegableContenido">
                        <a href="/registroUsuario">Usuarios</a>
                        <a href="/registroVendedores">Vendedores</a>
                    </div>
                </div>
        </div>
    </header>
    <main>
        <div id="registro-de-usuarios" class="contenedor-titulo">
            <h1 class="titulo-calzado">&nbsp;</h1>
        </div>
        <!-- form login usuario -->
        <div class="container">
            <div class="loginform">
                <div class="loginuser">
                    <form id="my-form" class="custom-form" onsubmit="return handleLogin(event)">
                        <h3>Login de Usuario</h3>
                        <input type="text" id="user-name" class="form-ctrl" placeholder="Usuario" name="user_name" required>
                        <input type="password" id="user-pass" class="form-ctrl" placeholder="Contraseña" name="user_pass" required>
                        <button type="submit">Login</button>
                        <p id="error-message" class="error-message">Usuario o contraseña incorrectos</p>
                        <br>
                        <p id="error-message" class="default-data">Default data</p>
                        <p id="error-message" class="default-data"><b>usuario</b> / <b>1234</b></p>
                    </form>
                </div>
            </div>
        </div>

        <!-- <div class="contenedor-boton-crear-producto">
            <button id="mostrar-crear-usuario-form-btn" class="boton-crear-producto" type="submit">Crear Nuevo
                Usuario</button>
        </div> -->

        <!-- Formulario Crear Nuevo Usuario -->
        <!-- <div class="primera-seccion">
            <div class="formulario">
                <div class="formulario-contacto">
                    <form id="formulario-crear-usuario" class="hidden" enctype="multipart/form-data"
                        onsubmit="return validarFormulario()">
                        <h3>Registro De Usuario</h3>
                        <input type="text" id="nombre" placeholder="Nombre" name="nombre" required>
                        <input type="text" id="apellido" placeholder="Apellido" name="apellido" required>
                        <input type="text" id="direccion" placeholder="Direccion" name="direccion" required>
                        <input type="email" id="correo" placeholder="Correo electrónico" name="email" required>
                        <input type="tel" id="telefono" placeholder="Teléfono" name="telefono" required>
                        <button type="submit">Crear</button>
                    </form>
                </div>
            </div>
        </div> -->

        <!-- Formulario Modificar Usuario -->
        <!-- <div class="primera-seccion">
            <div class="formulario">
                <div class="formulario-contacto">
                    <form id="formulario-editar-usuario" class="hidden" enctype="multipart/form-data"
                        onsubmit="return validarFormulario()">
                        <h3>Modificacion De Usuario</h3>
                        <input type="hidden" id="editId-usuario" name="editId-usuario" required>

                        <input type="text" id="edit-nombre" placeholder="Nombre" name="edit-nombre" required>
                        <input type="text" id="edit-apellido" placeholder="Apellido" name="edit-apellido" required>
                        <input type="text" id="edit-direccion" placeholder="Direccion" name="edit-direccion" required>
                        <input type="email" id="edit-correo" placeholder="Correo electrónico" name="edit-correo"
                            required>
                        <input type="tel" id="edit-telefono" placeholder="Teléfono" name="edit-telefono" required>
                        <button type="submit">Editar</button>
                    </form>
                </div>
            </div>
        </div> -->

        <!-- Lista de Usuario -->
        <!-- <div class="contenedor-titulo">
            <h1>Lista de Usuarios</h1>
        </div>
        <div>
            <button id="listar-usuarios-btn" class="boton-listar-items">Listar Todos los Usuarios</button>

            <ul id="lista-usuarios">

            </ul>

        </div> -->
    </main>
    <footer>
        <div class="footer-arriba">
            <!-- Sector izquierdo de footer -->
            <div class="footer-izquierdo">
                <div class="footer-section">
                    <h3>Metodos de pago</h3>
                    <!-- Iconos de medios de pago -->
                    <img src="/IMG/american-express.png" alt="Tarjeta 1">
                    <img src="/IMG/diners-club_196548.png" alt="Tarjeta 2">
                    <img src="/IMG/mastercard.png" alt="Tarjeta 3">
                    <img src="/IMG/visa.png" alt="Tarjeta 4">
                    <img src="/IMG/naranja.png" alt="Tarjeta 5">
                    <div class="iconosDiferenciales">
                        <img src="/IMG/mercadopago.png" alt="Tarjeta 6">
                        <img src="/IMG/rapipago.png" alt="Tarjeta 7">
                        <img src="/IMG/efectivo.png" alt="Tarjeta 8">
                    </div>
                </div>
                <div class="footer-section">
                    <h3>Medios de envío</h3>
                    <!-- iconos de  medios de envío -->
                    <img src="/IMG/correo-argentino.png" alt="Envío 1">
                    <img src="/IMG/acordar.png" alt="Envío 2">
                    <img src="/IMG/personalizado.png" alt="Envío 3">
                </div>
            </div>
            <!-- Sector centro de footer -->
            <div class="footer-centro">
                <div class="footer-section">
                    <!-- redes sociales -->
                    <h3>Nuestras Redes sociales</h3>
                    <a href="https://twitter.com/dexter_arg">
                        <img src="/IMG/twitter_2504947.png" alt="twitter">
                    </a>
                    <a href="https://www.facebook.com/dexter.arg/">
                        <img src="/IMG/facebook_2504903.png" alt="facebook">
                    </a>
                    <a href="https://www.instagram.com/dexterarg/">
                        <img src="/IMG/instagram_2111463.png" alt="instagram">
                    </a>
                </div>
            </div>
            <!-- Sector derecho de footer -->
            <div class="footer-derecho">
                <div class="footer-section">
                    <!--enlaces a contactos -->
                    <h3>Contactos</h3>
                    <a href="https://wa.me/+5492945587742" target="_blank">
                        <img src="/IMG/whatsapp_2504957.png" alt="WhatsApp">
                    </a>
                    <a href="mailto:nachocaceres1983@gmail.com" target="_blank">
                        <img src="/IMG/email_726623.png" alt="Email">
                    </a>
                    <a href="https://t.me/nachoalf" target="_blank">
                        <img src="/IMG/telegram_2504941.png" alt="Telegram">
                    </a>
                </div>
            </div>
        </div>
        <!-- Sector final de footer -->
        <div class="firma-footer">
            <p>Pagina creada por grupo 25</p>
            <div class="iconos-firma">
                <img src="/IMG/DATAWEB.jpg" alt="">
            </div>
        </div>
    </footer>
    <!-- form login usuario -->
    <script>
        function handleLogin(event) {
            event.preventDefault();

            const username = document.getElementById('user-name').value;
            const password = document.getElementById('user-pass').value;

            const validUsername = 'usuario';
            const validPassword = '1234';

            const errorMessage = document.getElementById('error-message');
            errorMessage.style.display = 'none'; // Ocultar el mensaje de error al intentar iniciar sesión

            if (username === validUsername && password === validPassword) {
                window.location.href = "/Admin/index";
            } else {
                errorMessage.style.display = 'block';
            }
        }
    </script>
    <script src="/JS/index.js"></script>
    <script src="/JS/funcionalidad.js" async></script>
</body>
</html>
