<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Vendedores</title>
    <link rel="stylesheet" href="/CSS/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header id="inicio">
        <div class="navbar">
            <!-- Imagen del logotipo -->
            <img src="/IMG/logoG4.png" alt="Logotipo">
            <!-- contenedor de envio gratis -->
            <div class="contenedor-envios">
                <p class="envios-gratis">Envios gratis a partir de los $30000</p>
                <img src="/IMG/envio-gratis.png" alt="envio">
            </div>
            <!-- contenedor de barra navegacion-->
            <div class="barra-desplegable">
                
                <div class="barra-desplegable">
                    <!-- items de navegacion -->
                    <a href="/">Inicio</a>
                    <!-- item modelos -->
                    <a href="#oferta">Nuestros Modelos</a>
                    <div class="desplegable">
                        <!-- Boton que se desplega al pasar el mouse -->
                        <button class="desplegableBtn">Registro</button>
                        <div class="desplegableContenido">
                            <a href="/registroUsuario">Usuarios</a>
                            <a href="/registroVendedores">Vendedores</a>
                        </div>
                    </div>

            </div>
        </div>
    </header>
    <main>
        <div id="registro-de-vendedores" class="contenedor-titulo">
            <h1 class="titulo-calzado">Registro de Vendedores</h1>
        </div>
        <div class="contenedor-boton-crear-producto">
            <button id="mostrar-crear-vendedor-form-btn" class="boton-crear-producto" type="submit">Crear Nuevo
                Vendedor</button>
        </div>

        <!-- Formulario Crear Nuevo Vendedor -->
        <div class="primera-seccion">
            <div class="formulario">
                <div class="formulario-contacto">
                    <form id="formulario-crear-vendedor" class="hidden" enctype="multipart/form-data"
                        onsubmit="return validarFormulario()">
                        <h3>Registro De Vendedor</h3>
                        <input type="text" id="nombre-vendedor" placeholder="Nombre" name="nombre-vendedor" required>
                        <input type="text" id="apellido-vendedor" placeholder="Apellido" name="apellido-vendedor"
                            required>
                        <input type="tel" id="telefono-vendedor" placeholder="Teléfono" name="telefono-vendedor"
                            required>
                        <button type="submit">Crear</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Formulario Modificar Vendedor -->
        <div class="primera-seccion">
            <div class="formulario">
                <div class="formulario-contacto">
                    <form id="formulario-editar-vendedor" class="hidden" enctype="multipart/form-data"
                        onsubmit="return validarFormulario()">
                        <h3>Modificación De Vendedor</h3>
                        <input type="hidden" id="editId-vendedor" name="editId-vendedor" required>
                        <input type="text" id="edit-nombre-vendedor" placeholder="Nombre" name="edit-nombre-vendedor"
                            required>
                        <input type="text" id="edit-apellido-vendedor" placeholder="Apellido"
                            name="edit-apellido-vendedor" required>
                        <input type="tel" id="edit-telefono-vendedor" placeholder="Teléfono"
                            name="edit-telefono-vendedor" required>
                        <button type="submit">Editar</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Lista de Vendedores -->
        <div class="contenedor-titulo">
            <h1>Lista de Vendedores</h1>
        </div>
        <div>
            <button id="listar-vendedores-btn" class="boton-listar-items">Listar Todos los Vendedores</button>
            <ul id="lista-vendedores">
            </ul>
        </div>
    </main>
    <footer>
        <div class="footer-arriba">
            <!-- Sector izquierdo de footer -->
            <div class="footer-izquierdo">
                <div class="footer-section">
                    <h3>Métodos de pago</h3>
                    <!-- Iconos de medios de pago -->
                    <img src="/IMG/american-express.png" alt="Tarjeta 1">
                    <img src="/IMG/diners-club_196548.png" alt="Tarjeta 2">
                    <img src="/IMG/mastercard.png" alt="Tarjeta 3">
                    <img src="/IMG/visa.png" alt="Tarjeta 4">
                    <img src="/IMG/naranja.png" alt="Tarjeta 5">
                    <div class="iconosDiferenciales">
                        <img src="/IMG/mercadopago.png" alt="Tarjeta 6">
                        <img src="/IMG/rapipago.png" alt="Tarjeta 7">
                        <img src="/IMG/efectivo.png" alt="Tarjeta 8">
                    </div>
                </div>
                <div class="footer-section">
                    <h3>Medios de envío</h3>
                    <!-- iconos de  medios de envío -->
                    <img src="/IMG/correo-argentino.png" alt="Envío 1">
                    <img src="/IMG/acordar.png" alt="Envío 2">
                    <img src="/IMG/personalizado.png" alt="Envío 3">
                </div>
            </div>
            <!-- Sector centro de footer -->
            <div class="footer-centro">
                <div class="footer-section">
                    <!-- redes sociales -->
                    <h3>Nuestras Redes sociales</h3>
                    <a href="https://twitter.com/dexter_arg">
                        <img src="/IMG/twitter_2504947.png" alt="twitter">
                    </a>
                    <a href="https://www.facebook.com/dexter.arg/">
                        <img src="/IMG/facebook_2504903.png" alt="facebook">
                    </a>
                    <a href="https://www.instagram.com/dexterarg/">
                        <img src="/IMG/instagram_2111463.png" alt="instagram">
                    </a>
                </div>
            </div>
            <!-- Sector derecho de footer -->
            <div class="footer-derecho">
                <div class="footer-section">
                    <!-- enlaces a contactos -->
                    <h3>Contactos</h3>
                    <a href="https://wa.me/+5492945587742" target="_blank">
                        <img src="/IMG/whatsapp_2504957.png" alt="WhatsApp">
                    </a>
                    <a href="mailto:nachocaceres1983@gmail.com" target="_blank">
                        <img src="/IMG/email_726623.png" alt="Email">
                    </a>
                    <a href="https://t.me/nachoalf" target="_blank">
                        <img src="/IMG/telegram_2504941.png" alt="Telegram">
                    </a>
                </div>
            </div>
        </div>
        <!-- Sector final de footer -->
        <div class="firma-footer">
            <p>Página creada por grupo 25</p>
            <div class="iconos-firma">
                <img src="/IMG/DATAWEB.jpg" alt="">
            </div>
        </div>
    </footer>
    <script src="/JS/index.js"></script>
    <script src="/JS/funcionalidad.js" async></script>
</body>

</html>