<%- include('header') %> 

 <!-- Content wrapper -->
 <div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">miga /</span> miga</h4>

    <hr class="my-5" />

    <!-- productos -->
    <div class="card">
      <h5 class="card-header">titulo</h5>
      </div>

    <hr class="my-5" />
   
  </div>




  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<div class="layout-overlay layout-menu-toggle"></div>
</div>


<%- include('footer') %>
