



<script src="../assetsAdmin/vendor/libs/jquery/jquery.js"></script>
<script src="../assetsAdmin/vendor/libs/popper/popper.js"></script>
<script src="../assetsAdmin/vendor/js/bootstrap.js"></script>
<script src="../assetsAdmin/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="../assetsAdmin/vendor/js/menu.js"></script>

<script src="../assetsAdmin/vendor/libs/apex-charts/apexcharts.js"></script>

<script src="../assetsAdmin/js/main.js"></script>

<script src="../assetsAdmin/js/dashboards-analytics.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
